@if (codeFlag) {
    <section class=" flex justify-center mb-20 ">
        <div class="grid grid-cols-12 md:w-1/2 w-full bg-white p-4 gap-4 shadow-lg">
            <div class="lg:col-span-6 col-span-12">
                <img src="../../../../assets/images/registration-form-1.jpg" alt="" class="w-full">
            </div>
            <div class="lg:col-span-6 col-span-12">
                <div>
    
                    <div class="headers text-center">
                        <h2 class="text-3xl text-center ">Code sent</h2>
                    </div>
                    @if (flag) {
                    <div class="bg-red-950 text-white py-5 my-5 flex justify-between px-4 items-center rounded-md">
                        <p>{{message}}</p>
                        <i class="fa-solid fa-close text-xl cursor-pointer" (click)="flag = false"></i>
                    </div>
                    }
                    <form [formGroup]="codeForm" (ngSubmit)="submit()">
                        <div class="flex flex-col mt-3">
    
                            <input formControlName="resetCode" type="text" id="resetcode" placeholder="resetCode"
                                class="border-t-0 border-s-0 border-e-0  border border-black">
                            @if (codeForm.get('resetcode')?.touched) {
                            <div class="bg-main text-white my-1 rounded-md">
                                @if (codeForm.get('resetcode')?.errors?.['required']) {
                                <p class="py-2 px-1 ">This field is required</p>
                                }
                            </div>
                            }
                        </div>
                        <button [disabled]="codeForm.invalid"
                            class="text-white bg-main py-2 px-4 rounded-md mt-3 w-full">
                            @if (isLoading) {
                            <span>
                                <i class="fa-solid fa-spinner fa-spin"></i>
                            </span>
                            }
                            @else {
                            <span>
                                Submit <code></code>
                            </span>
                            }
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
}

@if (resetFlag) {
    <app-resetpassword></app-resetpassword>
}