<!-- <section class=" flex justify-center my-16 ">
    <div class="grid grid-cols-12 md:w-1/2 w-full bg-white p-4 gap-4 shadow-lg">
        <div class="lg:col-span-6 col-span-12">
            <img src="../../../../assets/images/shipping.avif" alt="" class="w-full">
        </div>
        <div class="lg:col-span-6 col-span-12">
            <div>

                <div class="headers text-center">
                    <h2 class="text-3xl text-center ">Shipping Form</h2>
                </div>

                @if (flag) {
                <div class="bg-red-950 text-white py-5 my-5 flex justify-between px-4 items-center rounded-md">
                    <p>{{message}}</p>
                    <i class="fa-solid fa-close text-xl cursor-pointer" (click)="flag=false"></i>
                </div>
                }
                <form [formGroup]="shippingForm" >
                    <div class="flex flex-col mt-3">
                        <input formControlName="details" type="text"  placeholder="Details"
                            class="border-t-0 border-s-0 border-e-0  border border-black">
                        @if (shippingForm.get('details')?.touched) {
                        <div class="bg-main text-white my-1 rounded-md">
                            @if (shippingForm.get('details')?.errors?.['required']) {
                            <p class="py-2 px-1 ">This field is required</p>
                            }
                        </div>
                        }
                    </div>
                    <div class="flex flex-col mt-3">
                        <input formControlName="phone" type="text"  placeholder="Phone number"
                            class="border-t-0 border-s-0 border-e-0  border border-black">
                        @if (shippingForm.get('phone')?.touched) {
                        <div class="bg-main text-white my-1 rounded-md">
                            @if (shippingForm.get('phone')?.errors?.['required']) {
                            <p class="py-2 px-1 ">This field is required</p>
                            }
                            @else if (shippingForm.get('phone')?.errors?.['pattern']) {
                                <p class="py-2 px-1 ">Enter valid phone number</p>
                            }
                        </div>
                        }
                    </div>
                    <div class="flex flex-col mt-3">
                    <input formControlName="city" type="text" placeholder="City"
                        class="border-t-0 border-s-0 border-e-0  border border-black">
                    @if (shippingForm.get('city')?.touched) {
                    <div class="bg-main text-white my-1 rounded-md">
                        @if (shippingForm.get('city')?.errors?.['required']) {
                        <p class="py-2 px-1 ">This field is required</p>
                        }
                    </div>
                    }
                    </div>
                    
                    <div class="flex space-x-4">
                        <button [disabled]="shippingForm.invalid" (click)="cashShipping()" class="text-white bg-main py-2 px-4 rounded-md mt-3 hover:bg-green-700 duration-500">
                            @if (cashLoading) {
                            <span>
                                <i class="fa-solid fa-spinner fa-spin"></i>
                            </span>
                            }
                            @else {
                            <span>
                                Cash
                            </span>
                            }
                        </button>
                        
                        <button [disabled]="shippingForm.invalid" (click)="cardShipping()" class="text-white bg-main py-2 px-4 rounded-md mt-3 hover:bg-green-700 duration-500">
                            @if (cardLoading) {
                            <span>
                                <i class="fa-solid fa-spinner fa-spin"></i>
                            </span>
                            }
                            @else {
                            <span>
                                Visa
                            </span>
                            }
                        </button>
                    </div>



                </form>
            </div>
        </div>
    </div>
</section> -->


<section class="flex justify-center items-center">
    <div class="md:w-1/2 w-full mx-auto bg-black bg-opacity-80 md:p-10 p-8 shadow-2xl rounded-lg mark">
        <div class="mx-auto mt-10">
        
            <div class="headers text-center text-white">
                <h2 class="text-3xl text-center ">Shipping Form</h2>
            </div>
        
            @if (flag) {
            <div class="bg-red-950 text-white py-5 my-5 flex justify-between px-4 items-center rounded-md">
                <p>{{message}}</p>
                <i class="fa-solid fa-close text-xl cursor-pointer" (click)="flag=false"></i>
            </div>
            }
            <form [formGroup]="shippingForm">
                <div class="flex flex-col mt-3">
                    <input formControlName="details" type="text" placeholder="Details"
                        class="border-t-0 border-s-0 border-e-0  border border-black">
                    @if (shippingForm.get('details')?.touched) {
                    <div class="text-red-600 my-1 rounded-md">
                        @if (shippingForm.get('details')?.errors?.['required']) {
                        <p class="py-2 px-1 ">This field is required</p>
                        }
                    </div>
                    }
                </div>
                <div class="flex flex-col mt-3">
                    <input formControlName="phone" type="text" placeholder="Phone number"
                        class="border-t-0 border-s-0 border-e-0  border border-black">
                    @if (shippingForm.get('phone')?.touched) {
                    <div class="text-red-600 my-1 rounded-md">
                        @if (shippingForm.get('phone')?.errors?.['required']) {
                        <p class="py-2 px-1 ">This field is required</p>
                        }
                        @else if (shippingForm.get('phone')?.errors?.['pattern']) {
                        <p class="py-2 px-1 ">Enter valid phone number</p>
                        }
                    </div>
                    }
                </div>
                <div class="flex flex-col mt-3">
                    <input formControlName="city" type="text" placeholder="City"
                        class="border-t-0 border-s-0 border-e-0  border border-black">
                    @if (shippingForm.get('city')?.touched) {
                    <div class="text-red-600 my-1 rounded-md">
                        @if (shippingForm.get('city')?.errors?.['required']) {
                        <p class="py-2 px-1 ">This field is required</p>
                        }
                    </div>
                    }
                </div>
        
                <div class="flex space-x-4">
                    <button [disabled]="shippingForm.invalid" (click)="cashShipping()"
                        class="text-white bg-main py-2 px-4 rounded-md mt-3 hover:bg-green-700 duration-500">
                        @if (cashLoading) {
                        <span>
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </span>
                        }
                        @else {
                        <span>
                            Cash
                        </span>
                        }
                    </button>
        
                    <button [disabled]="shippingForm.invalid" (click)="cardShipping()"
                        class="text-white bg-main py-2 px-4 rounded-md mt-3 hover:bg-green-700 duration-500">
                        @if (cardLoading) {
                        <span>
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </span>
                        }
                        @else {
                        <span>
                            Visa
                        </span>
                        }
                    </button>
                </div>
        
        
        
            </form>
        </div>
    </div>
</section>