<!-- 
<div class="md:w-1/2 mx-auto py-10 w-3/4 pt-32">
    <div class="headers bg-main w-fit mx-auto py-1 px-4 rounded-md text-white">
        <h2 class="text-2xl text-center ">Login Form</h2>
    </div>
    
    @if (flag) {
        <div class="bg-red-950 text-white py-5 my-5 flex justify-between px-4 items-center rounded-md">
            <p>Incorrect Email or Password.</p>
            <i class="fa-solid fa-close text-xl cursor-pointer" (click)="flag=false"></i>
        </div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="flex flex-col mt-3">
            <label for="email">Email:</label>
            <input formControlName ="email" type="email" id="email" class="py-2 px-3 rounded-md border border-black">
            @if (loginForm.get('email')?.touched) {
            <div class="bg-red-950 text-white my-1 rounded-md">
                @if (loginForm.get('email')?.errors?.['required']) {
                    <p class="py-2 px-1 ">This field is required</p>
                }
                @else if(loginForm.get('email')?.errors?.['email']){
                    <p class="py-2 px-1 ">Enter valid mail</p>
                }
            </div>
            }
        </div>
        <div class="flex flex-col mt-3">
            <label for="password">password:</label>
            <input formControlName = "password" type="password" id="password" class="py-2 px-3 rounded-md border border-black">
            @if (loginForm.get('password')?.touched) {
            <div class="bg-red-950 text-white my-1 rounded-md">
                @if (loginForm.get('password')?.errors?.['required']) {
                    <p class="py-2 px-1 ">This field is required</p>
                }
            </div>
            }
        </div>
        <button [disabled] = "loginForm.invalid" class="text-white bg-main py-2 px-4 rounded-md mt-3 block ms-auto" >
            @if (isLoading) {
                <span>
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </span>
            }
            @else {
                <span>
                    Login
                </span>
            }
        </button>
    </form>

    <div class="flex justify-center items-center gap-1">
        <h3 class="text-xl">Don't have account?</h3>
        <a routerLink="/register" class="text-lg hover:text-green-400 duration-500">Sign up</a>
    </div>
</div> -->



<section class=" flex justify-center mb-20 ">
    <div class="grid grid-cols-12 md:w-1/2 w-full bg-white p-4 gap-4 shadow-lg">
        <div class="lg:col-span-6 col-span-12">
            <img src="../../../../assets/images/registration-form-1.jpg" alt="" class="w-full">
        </div>
        <div class="lg:col-span-6 col-span-12">
            <div>
                @if (flag) {
                <div class="bg-red-950 text-white py-5 my-5 flex justify-between px-4 items-center rounded-md">
                    <p>{{message}}</p>
                    <i class="fa-solid fa-close text-xl cursor-pointer" (click)="flag = false"></i>
                </div>
                }

                <div class="headers text-center">
                    <h2 class="text-3xl text-center ">Create new password</h2>
                </div>
                
                <form [formGroup]="resetCodeForm" (ngSubmit)="submit()">
                    <div class="flex flex-col mt-3">
                        <input [disabled]="disable" formControlName="email" type="email" id="email" placeholder="Email address"
                            class="border-t-0 border-s-0 border-e-0  border border-black" >
                    </div>
                    <div class="flex flex-col mt-3">

                        <input formControlName="newPassword" type="password" id="password" placeholder="newPassword"
                            class="border-t-0 border-s-0 border-e-0  border border-black">
                        @if (resetCodeForm.get('newPassword')?.touched) {
                        <div class="bg-main text-white my-1 rounded-md">
                            @if (resetCodeForm.get('newPassword')?.errors?.['required']) {
                            <p class="py-2 px-1 ">This field is required</p>
                            }
                            @else if (resetCodeForm.get('newPassword')?.errors?.['pattern']) {
                                <div class="py-2 px-1 ">
                                    <p>At least 8 characters long</p>
                                    <p>Contains at least one lowercase letter</p>
                                    <p>Contains at least one uppercase letter</p>
                                    <p>Contains at least one digit</p>
                                    <p>Contains at least one special character</p>
                                </div>
                            }
                        </div>
                        }
                    </div>
                    <button [disabled]="resetCodeForm.invalid"
                        class="text-white bg-main py-2 px-4 rounded-md mt-3 w-full">
                        @if (isLoading) {
                        <span>
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </span>
                        }
                        @else {
                        <span>
                            Submit
                        </span>
                        }
                    </button>
                </form>

            </div>
        </div>
    </div>
</section>