

<div class="bg-stone-300 py-10 ">
    <div class="px-16">
        <h2 class="text-2xl">Get the FreshCart app</h2>
        <p class="text-gray-500">We will send you al link, open it on your phone to download the app</p>
    </div>
    <div class="grid grid-cols-4 px-20 gap-5 my-2">
        <div class="md:col-span-3 col-span-4">
            <input type="email" class="border border-black w-full py-2 rounded-md px-2" placeholder="Email">
        </div>
        <div class="md:col-span-1 col-span-4">
            <button class="bg-main py-2 w-full rounded-md text-white">share app link</button>
        </div>
    </div>

    <div class="mx-16 px-4 flex  flex-wrap md:justify-between justify-center text-center border border-gray-500 border-s-transparent border-e-transparent my-10 py-5">
        <div class="md:flex gap-4 md:flex-row flex-col  items-center py-4   ">
            <p class="text-lg">Payment Partners</p>
            <div class="image flex gap-4 ">
                <img src="assets/images/amazon-pay.png" alt="" class="w-10">
                <img src="assets/images/American-Express-Color.png" alt="" class="w-10">
                <img src="assets/images/mastercard.webp" alt="" class="w-10">
                <img src="assets/images/paypal.png" alt="" class="w-10">
            </div>
        </div>

        <div class="md:flex gap-4 items-center md:flex-row flex-col ">
            <p class="text-lg">Get delivers with FreshCart</p>
            <div class="app flex md:flex-row flex-col items-center">
                <img src="assets/images/get-apple-store.png" alt="" class="w-40">
                <img src="assets/images/get-google-play.png" alt="" class="w-40">
            </div>
        </div>
    </div>
</div>