


<section class=" pb-5">
    <div class="grid grid-cols-12">
        <div class="lg:col-span-9 col-span-12">
            <div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="assets/images/slider-image-1.jpeg" alt="" class="w-full" style="height: 96%;">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="assets/images/slider-image-2.jpeg" alt="" class="w-full" style="height: 96%;">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="assets/images/slider-image-3.jpeg" alt="" class="w-full" style="height: 96%;">
                    </ng-template>
                </owl-carousel-o>
            </div>
            
        </div>
        <div class="lg:col-span-3 lg:flex hidden">
            <div class="">
                <img src="assets/images/slider-image-1.jpeg" alt="" class="w-full" style="height: 45%;">
                <img src="assets/images/slider-image-2.jpeg" alt="" class="w-full" style="height: 45%;">
            </div>
        </div>
    </div>


</section>





